<h1>Editing techreport</h1>

<% form_for(@techreport) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @techreport %> |
<%= link_to 'Back', techreports_path %>
