<div class="publication_file">
<% new_or_existing = publication_file.new_record? ? 'new' : 'existing' %>
<% prefix = "publication[#{new_or_existing}_publication_file_attributes][]" %>
<% fields_for prefix, publication_file do |publication_file_form| -%>
  <p>
    File:
    <%= publication_file_form.collection_select :publication_file_type_id, PublicationFileType.find(:all), :id, :description %>
    <%= publication_file_form.file_field :uploaded_data %>
    <%= link_to_function "remove" , "$(this).up('.publication_file').remove()" %>
  </p>
  <p>
    Description: <%= publication_file_form.text_field :description %>
  </p>
<% end -%>
</div>

