<div class="publication_project">
<% new_or_existing = publication_project.new_record? ? 'new' : 'existing' %>
<% prefix = "publication[#{new_or_existing}_publication_project_attributes][]" %>
<% fields_for prefix, publication_project do |publication_project_form| -%>
  <p>
    Project:
    <%= publication_project_form.collection_select :project_id, Project.find(:all), :id, :name %>
    <%= link_to_function "remove" , "$(this).up('.publication_project').remove()" %>
  </p>
<% end -%>
</div>

