<h1>Editing inbook</h1>

<% form_for(@inbook) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @inbook %> |
<%= link_to 'Back', inbooks_path %>
